*{
    padding: 0;
    margin: 0  ;
}




.dropdown:hover .dropdown-menu {
display: block;
position: absolute;
transform: translate3d(0px, 38px, 0px);
top: 0px;
left: 0px;
will-change: transform;

}
.dropdown{
    display: inline-block;
    list-style: none;
}

.logo-whatsapp {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
}

  